@{
	ViewBag.Title = "Check LTI";
}
@model IEnumerable<string>
<h2>@ViewBag.Title.</h2>

<p>Use this area to provide additional information.</p>
<ul>
	@foreach (var msg in Model) {
	<li>@msg</li>
	}
</ul>