@import url('reset.css');

/*** Base Styles ***/
html{ background:none !important; }
body{ font:300 16px/18px 'Titillium Web', verdana, sans; color:#464646; }
a{ color:#64a242; text-decoration:none; font-weight:700; text-transform:uppercase; }
a:hover{ color:#306f0e; }
h1{ font-size:36px; line-height:40px; font-weight:600; text-shadow:1px 1px #2b5414; color:#fff; }
h2{ font-size:30px; line-height:36px; font-weight:700; color:#000; }
h3{ font-size:26px; line-height:30px; font-weight:700; color:#3c3c3c; }
h4{ text-transform:uppercase; }
#right-col h3{ font-size:18px; color:#000; }
p{ margin-bottom:21px; font-size:1em; }
p a{font-size:12px; font-weight:600;text-transform:none;}
.skip{ left:-10000em; position:absolute; top:0; width:0; overflow:hidden; }
.logo{ margin: 35px auto 25px;width: 302px; }
.button{ padding:16px 44px; color:#fff; text-shadow:1px 1px #000; line-height:1; font-size:18px; display:block; float:left; margin-top:20px; }
.button:hover{ color:#fff; background:#000; }
.partnersheading { padding-left:35px }

/*** Layout ***/
.wrap{ width:978px; margin:0 auto; }
.home #content .wrap{ padding-top:15px; }
#content .wrap{ padding:60px 0 60px; }
#footer .wrap{ padding:30px 0; }

#main-col{ width:726px; float:left; }
#left-col{ width:222px; float:left; margin-right:30px; }
#right-col{ width:222px; float:right; }


/*** Navigation ***/
nav { float:right; width:652px; }
nav .partner-portal{ float:right; font-size:12px; color:#306f0e; font-weight:bold; }
nav #main{ float:right; clear:both; margin:22px -18px 0 0; }
nav #main li{ text-align:right; display:inline-block; }
nav #main li a{ font-weight:400; color:#000; letter-spacing:.05em; line-height:1; padding:11px 18px; display:block; text-shadow:1px 1px #fff; }
nav #main li a.current{ background:url(../images/btn_bg.gif) repeat; color:#fff; text-shadow:1px 1px #000; font-weight:700; }
nav #main li a:hover{ color:#4a4a4a; }


/*** Hero ***/
div[role="marquee"]{ background:url(../images/header_bg.jpg) repeat-x; padding:25px 0; box-shadow:0 0 5px #666; }
div[role="marquee"].home{ padding:55px 0; }
div[role="marquee"].home blockquote{ background:url(../images/adobeconnect_icon.png) 0 10px no-repeat; padding-left:120px; }
div[role="marquee"] h2{ margin-top:10px; font-size:18px; color:#000; text-transform:uppercase; font-weight:400; }
div[role="marquee"] h2 strong{ font-weight:700; }

#slideshow{ position:relative; height:315px;z-index: 10; }
.slide h2{ font-weight: bold; text-transform:uppercase; color:#06C; font-size:18px; line-height:22px; margin-bottom:60px; }
.slide p{ font-size:16px; line-height:30px; width:306px; }
.slide p a{ font-size:12px; color:#06C; font-weight:600;display:none}
.slide{ position:absolute; left:0; top:0; width:100%; }
.slide img{ position:absolute; right:0; top:-165px; }
.currentslide p a{ display:block}

#bullets{ text-align:center; width:306px;z-index: 1000;position: relative; }
#bullets li{ display:inline-block; margin:0 2px; }
#bullets li a{ height:10px; width:10px; background:url(../images/circles_bg.gif) bottom no-repeat; display:block; }
#bullets li.current a{ background-position:top; }
.bulletscircle{ margin:10px 0; }
.bulletscircle li { list-style-type:circle; margin-left: 20px; margin-bottom:10px; }

/*** Main Content ***/
div[role="main"]{ padding:50px 0; }
.home div[role="main"]{ min-height:370px; }

.event { padding:35px 0;}
.news { padding:35px 0;}
.products { padding:35px 0;}
.productitem { background-color:#fff;float:left;width:420px; margin:25px 25px 0 0; border:1px solid #000;min-height:475px;box-shadow:0px 0px 3px;}
.productitem p{padding:10px}
.edugamecloud  { padding:35px 0;}
.closedcaptioning { padding:35px 0;}
.development { padding:35px 0;}

.thumbcontainer img{float:left; margin-right:15px; border:2px solid #636363; }
.development p{padding:15px 0;margin:0;clear:both;}

div[role="main"] p{ font-size:16px; line-height:30px; color:#464646; }
div[role="complementary"]{ background:url(../images/subPromo_bg.jpg) repeat-x #e6e6e6; padding:10px 0; box-shadow:0 0 5px #999; }
.subpromo{ float:left; width:306px; margin-left:30px; }
.subpromo:first-child{ margin:0; }
.subpromo h3{ font-weight:600; padding-left:35px; margin-bottom:10px; background:url(../images/subpromo_icons.gif) 0 3px no-repeat; }
.subpromo#news h3{ background-position:0 -74px; }
.subpromo#featured h3{ background-position:0 -36px; }
.subpromo .timestamp{ font-size:11px; font-weight:300; color:#636363; text-transform:uppercase; line-height:30px; }
.subpromo p{ font-size:14px; color:#000; margin:0; }
.subpromo p a{ display:block; text-align:right; margin:20px 0 0; font-size:12px; font-weight:600;}

.sidebar-block{ background:#fff; border:1px solid #e6e6e6; box-shadow:0 0 5px #e6e6e6; padding:20px; margin-top:15px; }
.sidebar-block li{ margin-bottom:30px; }
.sidebar-block li:last-child{ margin-bottom:10px; }
.sidebar-block li img{ margin:0 auto; }

#product-list{ margin-top:15px; }
#product-list li{ float:left; margin-left:30px; }
#product-list li:first-child{ margin:0; }
#product-list li img{ border:5px solid #fff; width:212px; height:150px; }
#product-list li img:hover{ border-color:#2a2a2a; cursor:pointer; }
#product-list li h3{ font-size:16px; text-align:center; margin:5px 0 0; }
#bullets.productlist{ width:100%; margin:-30px 0 30px 0; }
.productlist #slideshow{ height:auto; }
.productlist .slide{ position:relative; }
.productlist .slide p{ width:100%; }
.productlist .slide p a{ font-size:16px; }
.productlist .slide img{ position:relative; right:auto; top:auto; }
.productlist .slide .left-col{ float:left; width:476px; }
.productlist .slide .right-col{ float:right; width:476px; }
.productlist .slide h3{ margin-bottom:10px; }
.productlist .slide h4{ font-size:18px; }

#playPauseButton.playPauseButton {
    width: 18px;
    height: 18px;
    position: relative;
    top: -47px;
    left: 50px;
    margin: auto;
    z-index: 1001;
}

#playPauseButton.home {
    top: -17px !important;
    margin: 0px !important;
    left: 200px !important;
}

#playPauseButton.playButton {
    background-image: url("../images/icons/play.png");
}

#playPauseButton.pauseButton {
    background-image: url("../images/icons/pause.png");
}

#playPauseButton.playButton:hover {
    background-image: url("../images/icons/play_hover.png");
}

#playPauseButton.pauseButton:hover {
    background-image: url("../images/icons/pause_hover.png");
}

/*** Form Styles ***/
.contact form{ padding-top:20px; }
form li{  border: 1px solid red; color: red; float: left; margin: 0 30px 20px 0; overflow: hidden; padding: 10px; width: 604px; }
form li.last{ width:642px; }
form label{ font-size:18px; font-weight:700; color:#1d1d1d; text-transform:uppercase; margin-bottom:5px; }
form label .required{ color:#64a242; }
form .input-text{ background:#f9f9f9; border:1px solid #e3e3e3; box-shadow:inset 1px 1px 5px rgba(0,0,0,.05); height:35px; width:96%; padding:0 5px; font-size:16px; outline:none; }
form .input-text:focus{ outline:none; background:#fff; }
form .textarea{ height:60px; max-length:250}
form #submit-btn{ padding:10px 44px; background:url(../images/btn_bg.gif) repeat; color:#fff; text-shadow:1px 1px #000; line-height:1; font-size:18px; display:block; float:left; text-transform:uppercase; outline:none; border:none; font-weight:600; }
form #submit-btn:hover{ color:#fff; background:#000; cursor:pointer; }
form .input-text.error{ background:url(../images/field_error.jpg) 98% 50% no-repeat, #fff; }
form label.error{ text-transform:none; font-size:14px; color:#b90c0c; text-align:right; font-weight:400;}

#contact-details{ background:#fff; border:1px solid #e6e6e6; box-shadow:0 0 5px #e6e6e6; padding:25px; width: 220px; }
#contact-details h3{ color:#000; text-transform:none; font-size:18px; }
#contact-details p strong{ font-weight:400; color:#64a242; }
#contact-details a{ text-transform:none; font-weight:400; }



/*** Footer ***/
div[role="contentinfo"]{ padding-bottom:30px; }
div[role="contentinfo"] .logo{ float:none; width:53px; margin:30px auto 10px; display:block; }
div[role="contentinfo"] nav{ float:none; text-align:center; width:100%; }
div[role="contentinfo"] nav li{ display:inline-block; margin:0 10px; }
div[role="contentinfo"] nav li a{ color:#282828; font-size:12px; font-weight:300; }
div[role="contentinfo"] nav li a:hover{ text-decoration:underline; }
div[role="contentinfo"] .copyright{ font-size:12px; font-weight:300; color:#868686; text-align:center; width:100%; line-height:30px; }

/*** Float Clears ***/
.wrap:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/******* Product Navigation Links *********/
.productnav{
	border-radius:5px;
	width:134px;
	height:20px;
	background-color:#fff;
	box-shadow: 0 0 3px #999;
	float:right;
}
.navIndex{
	float:left;
	margin-left:5px;
	margin-bottom:4px;
	color: #000;
	font-size:16px;
}
.navigation{
	border-radius:5px;
	width:84px;
	height:26px;
	background-color:#e6e6e6;
	box-shadow: 0 0 3px #999;
	float:right;
	position:relative;
	top: -3px;
}
.borderight{
	border-right:1px solid #CCCFDA;
}
.outercontainer{
	cursor:pointer;
	float:left;
	height:26px;
}
.triangleLeft {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid #666;
	margin:5px 8px;
}  
.triangleLeft:hover {
    border-right: 12px solid #000;
} 
.triangleLeft.disabled {
    border-right: 12px solid #d3d3d3;
} 
.triangleUp {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #666;
	margin:7px 5px;
}  
.triangleUp:hover {
    border-bottom: 12px solid #000;
} 
.triangleRight {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #666;
	margin:5px 8px;
}  
.triangleRight:hover {
    border-left: 12px solid #000;
} 
.triangleRight.disabled {
    border-left: 12px solid #d3d3d3;
} 

/*cold box message box */
.cbox_messagebox{
	font-size: 13px;
	font-weight: bold;
	margin: 10px;
}
.cbox_messagebox_info{
	background: #D1E6EF url(../images/cmsg.gif) no-repeat scroll .5em 50%;
	border: 1px solid #2580B2;
	margin: 0.3em;
	padding: 0pt 1em 0pt 3.5em;
    margin-bottom: 40px;
}
.cbox_messagebox_warning{
	background: #FFF2CF url(../images/wmsg.gif) no-repeat scroll .5em 50%;
	border: 1px solid #2580B2;
	margin: 0.3em;
	padding: 0pt 1em 0pt 3.5em;
    margin-bottom: 40px;
}
.cbox_messagebox_error{
	background: #FFFFE0 url(../images/emsg.gif) no-repeat scroll .5em 50%;
	border: 1px solid #2580B2;
	margin: 0.3em;
	padding: 0pt 1em 0pt 3.5em;
    margin-bottom: 40px;
}

.productButton {
    width: 476px;
    padding-left: 0!important;
    padding-right: 0!important;
}

.productButton span {
    margin-left: 44px;
    display: block;
}