@model Esynctraining.Lti.Zoom.DTO.LtiViewModelDto
@using Jil;
@{
    Layout = null;
    var options = Esynctraining.Json.Jil.JilSerializer.JilOptions;
}
<!DOCTYPE html>
<html style="overflow: auto;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>eSyncTraining Zoom Lti</title>
    <link rel="stylesheet" href="/lti/zoom/static/zoom.min.css">
    <link rel="stylesheet" href="/lti/zoom/static/select2.min.css">
    <link rel="stylesheet" href="/lti/zoom/static/vuetify.css?v=@(Model.FullVersion.ToString())">
    <link rel="stylesheet" href="/lti/zoom/static/css/app.css?v=@(Model.FullVersion.ToString())">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://d24cgw3uvb9a9h.cloudfront.net/static/93352/css/icomoon.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script type="text/javascript" src="/lti/zoom/static/combobox.min.js"></script>
    <script type="text/javascript" src="/lti/zoom/static/select2.min.js"></script>
    <script type="text/javascript" src="/lti/zoom/static/KalturaFullClient.min.js"></script>
    <script type="text/javascript">
        var EsyncLti = @Html.Raw(JSON.Serialize(Model, options));
    </script>

</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="/lti/zoom/static/js/manifest.js?v=@(Model.FullVersion.ToString())"></script>
    <script type="text/javascript" src="/lti/zoom/static/js/vendor.js?v=@(Model.FullVersion.ToString())"></script>
    <script type="text/javascript" src="/lti/zoom/static/js/app.js?v=@(Model.FullVersion.ToString())"></script>
</body>
</html>