<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
    <body >
        <table width="100%" height="200" cellpadding="10">
            <tr>
                <td style="width:100%;background-color:#000000;">
                    <img alt="Edugame Cloud" src="@Model.BaseUrl/images/logo.png">
                </td>
            </tr>
			<tr><td>
				Hello @Model.FirstName,<br><br>	
				
		        Your Account Password has been changed. Use the following password to login @Model.Password<br>
		        We appreciate the opportunity to expand your education.<br><br>
		    
		        BestRegards, <br>
		        Edugame Cloud<br><br>
			</td></tr>
			<tr><td style="width:100%;height:20px;background-color:#000000;"></td></tr>
		</table>
    </body>
</html>
