<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style='margin: 20px; background-color: #ffffff; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 12px; line-height: 15px;'>
    <table width="600" border="0" cellspacing="0" cellpadding="20" style='font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 12px; line-height: 15px;'>
        <thead>
            <tr valign="top" style="background-color: #000; color: #fff; text-align: left;">
                <td width="560" colspan="2">
                    <p>
                        <img src="https://www.esynctraining.com/assets/images/eSyncTrainingLogo.png" width="120" height="54" /><br />
                        <span style="font-size: 16px; font-weight: bold;">@Model.MailSubject</span>
                    </p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr valign="top" style="background-color: #f2f2f2;">
                <td width="320">
                    <p>
                        @Raw(Model.MailBody) <br />
                    </p>
                </td>
                <td width="200">
                    <p><img src="https://www.esynctraining.com/assets/images/globe.png" width="200" height="120" /></p>
                    <h3 style="font-weight: normal; font-size: 16px; line-height: 20px; color: #3399cc;">The Future of Web Training...Now</h3>
                    <p>Synchronous training connects individuals and companies in a highly-engaging learning environment.</p>
                    <p><a style="text-decoration: none; color: #3399cc;" href="https://www.esynctraining.com">Learn More &gt;</a></p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr valign="top" style="background-color: #e5e5e5; color: #999; font-size: 10px;">
                <td colspan="2">
                    <p>Copyright 2017 Advanced eSyncTraining, Inc. All rights reserved.<br /></p>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>