<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" border="0" width="100%" >
            <tr>
                <td align="center">
    
                    <table cellspacing="0" cellpadding="36" border="0" width="768" style="background-color: #FFFFFF;">
                        <tr>
                            <td align="left" width="50%">
                                <img alt="EduGame Cloud logo" src="@(Model.BaseUrl)images/logoBig.png" />  
                            </td>
                            <td align="right" width="50%">
                                <p style="color: #464646; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; text-align: right;">Enriching online interaction for meetings, training and education on Adobe Connect</p></td>                                                   
                        </tr>
                        <tr>
                            <td width="100%" colspan="2" style="background-color: #79b300; height: 12px; line-height: 12px; margin: 0; padding: 0;" >&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" colspan="2">
                                <!--Table to divide main area-->
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tr>
                                        <td valign="top" width="65%" style="padding: 0 36px 0 0; text-align: left; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#464646; font-size: 14px; line-height: 18px;">
                                            <p style="margin: 0 0 18px 0;" >Hello @Model.FirstName,</p>
                                            <p style="margin: 0 0 18px 0;" >     
                                                Welcome to <strong>EduGame Cloud</strong>. Your company administrator from @Model.CompanyName has added an account for you to use EduGame Cloud. You are about to discover the wide range of benefits available to immediately make your Adobe Connect meetings and training more engaging and fun.<br/><br/>
                                                We are here to help you get the most out of your experience and the first step is to activate your account today. Click the link below or paste the URL to your browser: <br/>
                                            </p>
                                            <p style="text-align: center"><a href="@Model.ActivationLink" style="border-bottom: 1px dotted; color: #000071; text-decoration: none;">@Model.ActivationLink</a><br><br></p>
                                            <br/><br/>
                                            <p style="margin: 0 0 16px 0;" >Thanks for using EduGame Cloud! </p>
                                            <p style="margin: 0 0 16px 0;" >The EduGame Cloud Team</p>
                                        </td>
                                        <td valign="top" width="35%" style="padding: 0 18px 0 18px; background-color:#E6E6E6; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#464646; font-size: 14px; line-height: 18px;" align="center">
                                            <img src="@(Model.BaseUrl)images/adobeconnect_icon3.png" alt="Adobe Connect Icon" width="99" height="72" style="margin: 18px 0;" />                                       
                                            <hr style="text-align: center; color:#306F0E; margin: 28px 0 24px 0; " />
                                            <p><strong>Have any questions? We&#39;re here to help!</strong></p>
                                            <p>If you get stuck, our trial consultants can help you and answer any other questions you may have. <a href="mailto:@Model.TrialContactEmail">Just click here to request a call.</a> You may also be able to find out any answers to your questions at the EduGame Cloud Beta Forum located here:<br/><br/><a href="http://forum.edugamecloud.com/">http://forum.edugamecloud.com/</a><br/><br/>You can use the same login credentials as <strong>EduGame Cloud</strong></p>       
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" colspan="2" style="padding: 0;"><img src="@(Model.BaseUrl)images/footer.jpg" width="768" height="108" alt="Bokeh design"/></td>
                        </tr>
                        <tr>
                            <td width="100%" colspan="2" align="center" style="color: #666; font-size: 11px;">Copyright &#169; 2013 eSyncTraining, Inc. All rights reserved.</td>
                        </tr>
                    </table></td>
            </tr>
        </table>
    </body>
</html>