<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center">

                <table cellspacing="0" cellpadding="36" border="0" width="768" style="background-color: #FFFFFF;">
                    <tr>
                        <td align="left" width="50%">
                            <a href="http://app.edugamecloud.com"><img alt="EduGame Cloud logo" src="@(Model.BaseUrl)images/logoBig.png" /></a>
                        </td>
                        <td align="right" width="50%">
                            <p style="color: #464646; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; text-align: right;">Enriching online interaction for meetings, training and education on Adobe Connect</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" colspan="2" style="background-color: #79b300; height: 12px; line-height: 12px; margin: 0; padding: 0;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" colspan="2">
                            <p style="margin: 0 0 18px 0;">@Model.ErrorMessage</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" colspan="2" align="center" style="color: #666; font-size: 11px;">Copyright &#169; 2014 <a href="http://esynctraining.com">eSyncTraining, Inc</a>. All rights reserved.</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
