<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    
    
    Dear @Model.FirstName,
    Thank you for registering for "@Model.EventName".
    This webinar explores the basics of nutrition and physical activity, which together lead to a healthy lifestyle. It guides adults to become good role models with food choices and exercise for the young children and families they serve.
    Please send your questions, comments and feedback to: tgrill@goddardsystems.com
    How To Join The Webinar
    @Model.EventStartDate.ToLongDateString() - @Model.EventEndDate.ToLongTimeString()
    Add to Calendar: Outlook® Calendar | Google Calendar™ | iCal®
    1. Click the link to join the webinar at the specified time and date:
    @Model.MeetingUrl
    Before joining, be sure to check system requirements to avoid any connection issues.
    Note: This link should not be shared with others; it is unique to you.
    2. Choose one of the following audio options:
    TO USE YOUR COMPUTER'S AUDIO:
    When the webinar begins, you will be connected to audio using your computer's microphone and speakers (VoIP). A headset is recommended.
    --OR--
    TO USE YOUR TELEPHONE:
    If you prefer to use your phone, you must select "Use Telephone" after joining the webinar and call in using the numbers below.
    United States: +1 (562) 247-8422
    Access Code: 902-034-053
    Audio PIN: Shown after joining the webinar
    Webinar ID: 984-672-547
    To Cancel this Registration
    If you can't attend this webinar, you may cancel your registration at any time.

    

</body>
</html>
