<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
			<td align="center">

				<table cellspacing="0" cellpadding="36" border="0" width="768" style="background-color: #FFFFFF;">
					<tr>
						<td align="left" width="50%">
							<a href="https://app.edugamecloud.com"><img alt="EduGame Cloud logo" src="@(Model.BaseUrl)images/logoBig.png" /></a>
						</td>
						<td align="right" width="50%">
							<p style="color: #464646; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; text-align: right;">Enriching online interaction for meetings, training and education on Adobe Connect</p>
						</td>
					</tr>
					<tr>
						<td width="100%" colspan="2" style="background-color: #79b300; height: 12px; line-height: 12px; margin: 0; padding: 0;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td width="100%" colspan="2">
							<!--Table to divide main area-->
							<table cellspacing="0" cellpadding="0" border="0" width="100%">
								<tr>
									<td valign="top" width="65%" style="padding: 0 36px 0 0; text-align: left; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#464646; font-size: 14px; line-height: 18px;">
										<p style="margin: 0 0 18px 0;">Hi @Model.Name,</p>
										<p style="margin: 0 0 18px 0;">You successfully passed a Quiz for @Model.EventName.</p>
										<p style="margin: 0 0 18px 0;">To get your Certificate please complete another Quiz <a href="@Model.PostQuizUrl">here</a>.</p>
										<p style="margin: 0 0 18px 0;">Thank you.</p>
									</td>
									<td valign="top" width="35%" style="padding: 0 18px 0 18px; background-color:#E6E6E6; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#464646; font-size: 14px; line-height: 18px;" align="center">
										<img src="@(Model.BaseUrl)images/adobeconnect_icon3.png" alt="Adobe Connect Icon" width="99" height="72" style="margin: 18px 0;" />
										<hr style="text-align: center; color:#306F0E; margin: 28px 0 24px 0; " />
										<p><strong>Have any questions?<br /> We&#39;re here to help!</strong></p>
										<p>If you get stuck, our trial consultants can help you and answer any other questions you may have. <a href="mailto:support@edugamecloud.com">Just click here to request a call.</a> </p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td width="100%" colspan="2" align="center" style="color: #666; font-size: 11px;">Copyright &#169; 2017 <a href="https://www.esynctraining.com">eSyncTraining, Inc</a>. All rights reserved.</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
