<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esynctraining.Core.Only" version="1.0.0.21" targetFramework="net45" />
  <package id="Esynctraining.PdfProcessor" version="1.0.0.3" targetFramework="net45" />
  <package id="Ghostscript.NET" version="1.1.2" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net45" />
  <package id="RazorEngine" version="3.9.3" targetFramework="net45" />
</packages>