<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BbWsClient" version="1.0.0.8" targetFramework="net40" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="Castle.Core-log4net" version="3.3.3" targetFramework="net40" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net40" />
  <package id="Castle.WcfIntegrationFacility" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Windsor-log4net" version="3.3.0" targetFramework="net40" />
  <package id="DotAmf.Wcf" version="1.0.0.11" targetFramework="net40" />
  <package id="Esynctraining.AC.Provider" version="1.0.1.25" targetFramework="net40" />
  <package id="Esynctraining.Core.Only" version="1.0.0.13" targetFramework="net40" />
  <package id="Esynctraining.Http.Streaming" version="1.0.0.1" targetFramework="net40" />
  <package id="FluentValidation" version="5.1.0.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Web.Services3" version="3.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net40" />
  <package id="RazorEngine" version="3.6.4" targetFramework="net40" />
  <package id="RestSharp" version="105.0.1" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="wcfrestcontrib" version="1.7.14.0" targetFramework="net40" />
</packages>