<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
<!--    <section name="mailerSettings" type="Esynctraining.Core.Providers.Mailer.Configuration.MailerConfigurationSection, Esynctraining.Core, Version=1.0.0.0, Culture=neutral" />-->
  </configSections>
  <appSettings>
    <add key="FileStorage" value="d:\Freelance\eSyncTraining\egc\trunk\csharp\EdugameCloud.WCFService\EdugameCloud.WCFService\FileStorage" />
	  <add key="ImportSubPath" value="import" />
    <add key="ExportSubPath" value="export" />
    <add key="WebOrbStorage" value="d:\Freelance\eSyncTraining\egc\trunk\csharp\EdugameCloud.WCFService\EdugameCloud.WCFService\weborbassets\uploads" />
    <add key="AuthHeaderName" value="EdugameCloud-Auth" />
    <add key="MaxImageWidth" value="800" />
	  <add key="MaxImageHeight" value="600" />
    <add key="RTMPServerPort" value="2037" />
    <add key="AuthHeaderName" value="EdugameCloud-Auth" />
    <add key="PermFilePattern" value="{fileId}.bin" />
    <add key="BasePath" value="http://localhost:2345/" />
    <add key="BaseWCFServiceUrl" value="http://localhost:2345/services/services/" />
    <add key="NominatimApiUrl" value="http://nominatim.openstreetmap.org/search/" />
    
    <add key="TWAccessToken" value="44703250-nprqxzGMLaSwQV0q1ktZDRUOzZjUn6xH9cQMSDIvH" />
    <add key="TWAccessSecret" value="ArfZPk0V1kb5LbUOvPebOONyjRoNwJlYJoxWlDHMNgQ" />
    <add key="LogLevel" value="4" />
  	<add key="GoogleSearchApi_Key" value="AIzaSyBSrU_GTtYdKlfwFV8tAH8ubFdQSHCUq9w" />
  	<add key="GoogleSearchEngine_Id" value="011624910211887125160:jyq3bdukvyc" />
  	<add key="GoogleSearchApi_Query" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;alt=json&amp;q={2}&amp;num={3}&amp;start={4}&amp;fields=queries,items(title,link,displayLink)" />
    <add key="TrialContactEmail" value="eugene@esynctraining.com" />
    <add key="BCCActivationEmail" value="bill@esynctraining.com;jbeck@estnctraining.com" />
    <add key="BCCNewEmail" value="bill@esynctraining.com" />
    <add key="PortalUrl" value="http://dev.edugamecloud.com/" />
    <add key="XSDProfileLocation" value="d:\Freelance\eSyncTraining\EdugameCloud\trunk\csharp\EdugameCloud.WCFService\EdugameCloud.Web\Content\xsd\vcfProfile.xsd" />
    <add key="BatchImportDefaultTimeZoneId" value="8" />
    <add key="BatchImportDefaultLanguageId" value="5" />
    <add key="ErrorEmailRecipients" value="o.a.pavlovskaya@gmail.com;baranovsky.e@gmail.com" />
    <add key="InstagramClientId" value="cbe78ceb43b74b88bad0fb9979a3d924" />
    <add key="InstagramClientSecret" value="ee3536abb5e14d9e8b9ef69352004d5a" />
  </appSettings>
  <connectionStrings configSource="web.constrings" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="30720" />
    <httpModules>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="weborb.aspx" type="Weborb.ORBHttpHandler" />
      <add verb="*" path="codegen.aspx" type="Weborb.Management.CodeGen.CodegeneratorHttpHandler" />
      <add verb="*" path="dcd.aspx" type="Weborb.RDS.Handler.FrontEndHttpHandler" />
    </httpHandlers>
    <caching>
      <outputCacheSettings>
         <outputCacheProfiles>
            <add name="CacheFilesById" duration="2592000" varyByParam="id" />
         </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
        <authentication mode="Windows" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandler" type="Esynctraining.Core.ErrorHandling.ErrorHandlerBehavior, Esynctraining.Core" />
        <add name="webAuthentication" type="WcfRestContrib.ServiceModel.Configuration.WebAuthentication.BehaviorElement, WcfRestContrib" />
        <add name="amfExtensions" type="Weborb.Handler.WCFServiceModel.Configuration.AmfEnablingElement, weborb, Version=5.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="amfMessageEncoding" type="Weborb.Handler.WCFServiceModel.Configuration.AmfBindingElementExtensionElement, weborb, Version=5.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorHttpsAction">
          <serviceMetadata httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="999999" />
          <!--          <errorHandler/>-->
        </behavior>
        <behavior name="behaviorHttpAction">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="999999" />
          <!--          <errorHandler/>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="behaviorEndpoint">
          <webHttp />
        </behavior>
        <behavior name="amfBehave">
          <amfExtensions />
        </behavior>
        <behavior name="basicBehaviorEndpoint"></behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.ErrorService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IErrorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IErrorService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.FileService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IFileService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IFileService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SocialService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISocialService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISocialService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.ACSessionService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IACSessionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IACSessionService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.UserService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IUserService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.AppletResultService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IAppletResultService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IAppletResultService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.QuizResultService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IQuizResultService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IQuizResultService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SurveyResultService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISurveyResultService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISurveyResultService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.LookupService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ILookupService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ILookupService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SubModuleItemService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISubModuleItemService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISubModuleItemService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SubModuleCategoryService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISubModuleCategoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISubModuleCategoryService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.QuestionService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IQuestionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IQuestionService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.QuestionTypeService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IQuestionTypeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IQuestionTypeService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.DistractorService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IDistractorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IDistractorService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.ThemeService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IThemeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IThemeService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.ReportingService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IReportingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IReportingService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.CompanyLicenseService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ICompanyLicenseService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ICompanyLicenseService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.CompanyService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ICompanyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ICompanyService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.QuizQuestionResultService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IQuizQuestionResultService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IQuizQuestionResultService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SurveyQuestionResultService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISurveyQuestionResultService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISurveyQuestionResultService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.AppletItemService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IAppletItemService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IAppletItemService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.QuizService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IQuizService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IQuizService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SurveyService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISurveyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISurveyService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.BuildVersionService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IBuildVersionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.IBuildVersionService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SNGroupDiscussionService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISNGroupDiscussionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISNGroupDiscussionService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SNProfileService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISNProfileService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISNProfileService" />
      </service>
      <service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.SNMemberService">
        <endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ISNMemberService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ISNMemberService" />
      </service>

		<service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.TestQuestionResultService">
			<endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ITestQuestionResultService" />
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			<endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ITestQuestionResultService" />
		</service>
		<service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.TestResultService">
			<endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ITestResultService" />
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			<endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ITestResultService" />
		</service>
		<service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.TestService">
			<endpoint address="" behaviorConfiguration="basicBehaviorEndpoint" binding="basicHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.ITestService" />
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			<endpoint address="amf" behaviorConfiguration="amfBehave" binding="customBinding" bindingConfiguration="amfBinding" contract="EdugameCloud.Core.Contracts.ITestService" />
		</service>
		<service behaviorConfiguration="behaviorHttpAction" name="EdugameCloud.WCFService.RestService">
        <endpoint address="" behaviorConfiguration="behaviorEndpoint" binding="webHttpBinding" bindingConfiguration="bindingHttpAction" contract="EdugameCloud.Core.Contracts.IRestService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="bindingHttpAction" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="31457280" maxBufferSize="31457280" maxBufferPoolSize="629145600">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="bindingHttpsAction" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="31457280" maxBufferSize="31457280" maxBufferPoolSize="629145600">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="bindingHttpAction" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="31457280" maxBufferSize="31457280" maxBufferPoolSize="629145600">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="amfBinding">
          <amfMessageEncoding />
          <httpTransport manualAddressing="true" />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <protocolMapping>
      <add scheme="https" binding="webHttpBinding" />
      <add scheme="http" binding="webHttpBinding" />
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--30mb-->
        <requestLimits maxAllowedContentLength="31457280" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    </modules>
    <handlers>
      <add name="weborb.aspx" verb="*" path="weborb.aspx" type="Weborb.ORBHttpHandler" />
      <add name="dcd.aspx" path="dcd.aspx" verb="*" type="Weborb.RDS.Handler.FrontEndHttpHandler" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.10.0" newVersion="1.2.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
		<smtp from="o.a.pavlovskaya.test@gmail.com" deliveryMethod="Network">
			<network host="smtp.gmail.com" port="587" enableSsl="true" userName="o.a.pavlovskaya.test@gmail.com" password="TestPa$$" />
		</smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Logs/WCF/Error.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>