@{
    Layout = null;

    string errorMessage = string.Empty;

    if (string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        errorMessage = string.IsNullOrWhiteSpace(ViewBag.DebugError)
            ? EdugameCloud.Lti.Resources.Messages.ExceptionMessage
            : EdugameCloud.Lti.Resources.Messages.ErrorOccured + ViewBag.DebugError;
    }
    else
    {
        errorMessage = ViewBag.Message;
    }

    string height = string.IsNullOrWhiteSpace(ViewBag.DebugError) ? "24px" : "324px";
}
<!DOCTYPE html>
<html class="x-viewport">
<head>
	<meta charset="UTF-8">
	<title>eSyncTraining - Error occured</title>
	<link rel="stylesheet" type="text/css" href="/extjs/resources/MeetingSetup-all.css?_ts=@DateTime.Now.Ticks.ToString()">
	<style type="text/css">
		
		.x-panel-header-title-default-framed {
			color: #00cc99;
		}
		
		.x-btn.x-btn-menu-active.x-btn-default-small {
			background-color: #00cc99;
			border-color: #00cc99;
		}
		
		.x-btn-inner-default-toolbar-small {
			color: #FFFFFF;
		}

		.main-color-label {
			color: #00cc99;
		}

			.main-color-label:hover {
				text-decoration: underline;
			}

		.meeting-item {
			border: 1px solid #CCCCCC;
		}

		.fieldset-background {
			border: 1px solid #CCCCCC;
		}
	</style>
</head>
<body id="ext-element-1" class="x-body x-webkit x-chrome x-border-box x-container x-container-default x-box-layout-ct" scroll="yes" style="padding: 20px;">
	<div id="app-main-1010-innerCt" data-ref="innerCt" role="presentation" class="x-box-inner" style="height: 782px; width: 710px;">
		<div id="app-main-1010-targetEl" data-ref="targetEl" class="x-box-target" role="presentation" style="width: 710px;">
			<div class="x-container  x-box-item x-container-default x-box-layout-ct" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 700px; right: auto; left: 0px; margin: 0px; top: 0px;" id="container-1011">
				<div id="container-1011-innerCt" data-ref="innerCt" role="presentation" class="x-box-inner" style="width: 700px; height: 47px;">
					<div id="container-1011-targetEl" data-ref="targetEl" class="x-box-target" role="presentation" style="width: 700px;">
						<label class="x-component  x-box-item x-component-default" style="font-size: 1.8em; padding: 10px 0px 20px; margin: 0px; right: auto; left: 0px; top: 0px;" id="label-1012">Adobe Connect</label>
					</div>
				</div>
			</div>
			<div class="x-panel  x-box-item x-panel-default" style="padding: 5px; width: 700px; height: 708px; right: auto; left: 0px; margin: 0px; top: 74px; background: rgb(238, 238, 238);" id="tab-holder-1020">
				<div id="tab-holder-1020-body" data-ref="body" class="x-panel-body x-panel-body-default x-layout-fit x-panel-body-default x-noborder-trbl" role="presentation" style="width: 690px; left: 0px; top: 29px; height: 669px;">
					<div class="x-container  x-tabpanel-child x-container-default" id="meetings-list-1022" style="overflow: auto; margin: 0px; width: 690px; height: 669px;">
						<div id="meetings-list-1022-outerCt" data-ref="outerCt" class="x-autocontainer-outerCt" role="presentation" style="width: 100%; height: 100%;">
							<div id="meetings-list-1022-innerCt" data-ref="innerCt" style="" class="x-autocontainer-innerCt" role="presentation">
								<fieldset class="x-fieldset  x-fieldset-with-title x-fieldset-with-legend x-fieldset-default" style="margin:10px 0px 10px 0px;" id="fieldset-1023">
									<legend class="x-fieldset-header  x-fieldset-header-default" id="fieldset-1023-legend">
										<div class="x-component  x-fieldset-header-text x-component-default" id="fieldset-1023-legendTitle">Error</div>
									</legend>
									<div id="fieldset-1023-body" data-ref="body" class="x-fieldset-body x-fieldset-body-default " role="presentation">
										<div id="fieldset-1023-outerCt" data-ref="outerCt" class="x-autocontainer-outerCt" role="presentation" style="width: 100%; table-layout: fixed;">
											<div id="fieldset-1023-innerCt" data-ref="innerCt" style="" class="x-autocontainer-innerCt" role="presentation">
												<div class="x-container  x-container-default x-box-layout-ct" style="padding: 10px; width: 670px; background: rgb(238, 238, 238);" id="meeting-item-1177">
													<div id="meeting-item-1177-innerCt" data-ref="innerCt" role="presentation" class="x-box-inner" style="width: 650px; height: @height;">
														<div id="meeting-item-1177-targetEl" data-ref="targetEl" class="x-box-target" role="presentation" style="width: 650px;">
															<label class="x-component  x-box-item x-component-default" style="margin: 0px; right: auto; left: 0px; width: 565px; top: 4px;" id="label-1178" for="">@Html.Raw(errorMessage)</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
