<?xml version="1.0"?>
<configuration>
  <!--<appSettings>
    not longer used
    <add key="AdobeConnectProvider_ServiceUrl" value="http://depositionconferencing.adobeconnect.com/api/xml"/>
    <add key="AdobeConnectProvider_ProxyUrl" value=""/>
    <add key="AdobeConnectProvider_ProxyDomain" value=""/>
    <add key="AdobeConnectProvider_ProxyLogin" value=""/>
    <add key="AdobeConnectProvider_ProxyPassword" value=""/>
    <add key="AdobeConnectProvider_EventMaxParticipants" value="10"/>
  </appSettings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
