<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mailerSettings" type="Esynctraining.Mail.Configuration.MailerConfigurationSection, Esynctraining.Mail" />
  </configSections>
  
  <appSettings>
    <add key="nhibernate:disable_fulltext_integration" value="true" />
    <add key="log4net.Internal.Debug" value="false" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="2.0.0.1" />
    <add key="webpages:Enabled" value="false" />
    <add key="RouteDebugger:Enabled" value="false" />
    
    
    <add key="SocialSubscriptionsEnabled" value="false" />
    
    
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="PermFilePattern" value="{fileId}.bin" />    
    <add key="ImportSubPath" value="import" />
    <add key="ExportSubPath" value="export" />
    <add key="SchemasSubPath" value="schemas" />

    <add key="BuildSelector" value="Adm_EdugameCloud_*.swf" />
    <add key="PublicBuildSelector" value="EduGameCloud_*.zip" />
    <add key="MobileBuildSelector" value="EduGameCloudMobile_*.zip" />

    <add key="MaxImageWidth" value="800" />
    <add key="MaxImageHeight" value="600" />

    <add key="IsDebug" value="false" />

    <add key="FileStorage" value="c:\EdugameCloud\services\FileStorage" />
    <add key="BasePath" value="http://localhost/" />
    <add key="BaseServiceUrl" value="http://localhost/" />
    <add key="PortalUrl" value="http://localhost/" />

    <add key="TrialContactEmail" value="PLACE_YOUR_EMAIL_HERE" />
    <add key="BatchImportDefaultTimeZoneId" value="8" />
    <add key="BatchImportDefaultLanguageId" value="5" />
    
    <add key="FBAppId" value="empty" />
    <add key="FBAppSecret" value="empty" />
    <add key="TWConsumerKey" value="empty" />
    <add key="TWConsumerSecret" value="empty" />
    <add key="InstagramClientId" value="empty" />
    <add key="InstagramClientSecret" value="empty" />
    <add key="TeacherRoles" value="Instructor,Administrator,Course Director,CourseDirector,Lecture,Specialists" />

    <add key="CanvasClientId" value="PLACE_YOUR_CanvasClientId_VALUE" />
    <add key="CanvasClientSecret" value="PLACE_YOUR_CanvasClientSecret_VALUE" />
    <add key="D2LApiVersion" value="1.4" />
    <add key="D2LApiKey" value="PLACE_YOUR_Brightspace_ApiKey_VALUE" />
    <add key="D2LApiSecret" value="PLACE_YOUR_Brightspace_ApiSecret_VALUE" />
    
    <add key="BrainHoneyApiUrl" value="http://gls.agilix.com/dlap.ashx" />
    <add key="MoodleTokenUrl" value="/login/token.php" />
    <add key="MoodleServiceUrl" value="/webservice/rest/server.php" />
    <add key="MoodleChangeUrl" value="false" />
    
    <add key="InitialBBPassword" value="e$ync123" />
    <add key="Lti_AcUserCache_Mode" value="connect" />
    <add key="Monitoring_MaxLoginTime" value="7" />

    <add key="Cache_CacheDependencyFolder" value="c:\egc\EdugameCloud.CacheDependencies\" />
  </appSettings>
  
  <connectionStrings configSource="Web.constrings" />
  
  <location path="." inheritInChildApplications="false">
    <system.web>
      <globalization culture="en-US" uiCulture="en-US" />
      <httpRuntime executionTimeout="99999999999" maxRequestLength="10240" enableVersionHeader="false" />
      <compilation debug="false" defaultLanguage="c#" targetFramework="4.5" />
      <customErrors mode="Off" />
      <pages controlRenderingCompatibilityVersion="4.0" />
      <authentication mode="Forms">
        <forms loginUrl="~/" timeout="1440" slidingExpiration="false" defaultUrl="~/" name="EdugameCloud_Auth" />
      </authentication>
    </system.web>
  </location>
  
  <location path="." inheritInChildApplications="false">
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
        <hiddenSegments>
          <add segment="Logs" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="PerRequestLifestyle" />
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" />
    </modules>

    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".appcache" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="X-Requested-With, Content-Type, SOAPAction, Accept, Origin" />
        <add name="Access-Control-Max-Age" value="1728000" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9EE697374C7E744A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.3.0" newVersion="3.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407DD0808D44FBDC" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Facilities.WcfIntegration" publicKeyToken="407DD0808D44FBDC" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407DD0808D44FBDC" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.4.0" newVersion="3.7.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <mailerSettings templatesFolderPath="~/mail/templates/" attachmentsFolderPath="~/mail/attachments/" />

  <location path="." inheritInChildApplications="false">
  <system.net>
    <mailSettings>
      <smtp from="YOUR@EMAIL.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="YOUR@EMAIL.com" password="YOUR_PASSWORD" />
      </smtp>
    </mailSettings>
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
