url = "https://dev.edugamecloud.com/Lti/Meeting/UpdateAndReturnLmsUsers"

-H "Origin: https://dev.edugamecloud.com" 
-H "Accept-Encoding: gzip, deflate" 
-H "Accept-Language: en-US,en;q=0.8,ru;q=0.6,es;q=0.4" 
-H "User-Agent: Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.86 Safari/537.36" 
-H "Content-Type: application/x-www-form-urlencoded; charset=UTF-8" 
-H "Accept: */*" 
-H "Referer: https://app.edugamecloud.com/extjs/entry?primaryColor=55d9f&lmsProviderName=a6e6f6c2-f8f5-44d7-b283-a55a002753a1&acConnectionMode=0&disableCacheBuster=True" 
-H "X-Requested-With: XMLHttpRequest" 
-H "Connection: keep-alive" 
--data "existedMeetingsGrid"%"5Bselection"%"5D=&duration=01"%"3A30&start_time=2"%"3A00+AM&saveButton"%"5Bpressed"%"5D=false&nextButton"%"5Bpressed"%"5D=false&isCreation=true&enableMeetingReuse=true&id=&ac_room_url=testregression&name=Auto+Test+Regression&summary=Test+Summary+Typo&start_date=12-01-2015&type=1&connect_server=https"%"3A"%"2F"%"2Fconnect.esynctraining.com"%"2F&template=11047&useExisting=false&access_level=denied&lmsProviderName=a6e6f6c2-f8f5-44d7-b283-a55a002753a1&addButton"%"5Bpressed"%"5D=false&joinButton"%"5Bpressed"%"5D=false&actionButton"%"5Bpressed"%"5D=false&leaveButton"%"5Bpressed"%"5D=false&userGrid"%"5Bselection"%"5D=&userSelectedGrid"%"5Bselection"%"5D=&addAllButton"%"5Bpressed"%"5D=false&setRoleButton"%"5Bpressed"%"5D=false&removeButton"%"5Bpressed"%"5D=false" 
--compressed

-i