url = "https://dev.edugamecloud.com/lti/canvas-login" 

-H "Origin: https://esynctraining.instructure.com" 
-H "Accept-Encoding: gzip, deflate" 
-H "Accept-Language: en-US,en;q=0.8,ru;q=0.6,es;q=0.4" 
-H "Upgrade-Insecure-Requests: 1" 
-H "User-Agent: Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.86 Safari/537.36" 
-H "Content-Type: application/x-www-form-urlencoded" 
-H "Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8" 
-H "Cache-Control: max-age=0" 
-H "Referer: https://esynctraining.instructure.com/courses/141/external_tools/84" 
-H "Connection: keep-alive" 
--data "oauth_consumer_key=d09d03a9-b8ee-4b5d-804b-4d41c9fee171
  &oauth_signature_method=HMAC-SHA1
  &oauth_timestamp=1448285247
  &oauth_nonce=iE5HZRdp4kKVm4LobjuztHMEq105gcdZrJ9DpQ32sGc
  &oauth_version=1.0
  &context_id=4e38caa893ec9c35f38fa721ad47f1db7eb5ca64
  &context_label=Adobe+101
  &context_title=Adobe+101
  &custom_canvas_api_domain=esynctraining.instructure.com
  &custom_canvas_course_id=141
  &custom_canvas_enrollment_state=active
  &custom_canvas_user_id=1
  &custom_canvas_user_login_id=mike"%"40esynctraining.com
  &ext_roles=urn"%"3Alti"%"3Ainstrole"%"3Aims"%"2Flis"%"2FAdministrator"%"2Curn"%"3Alti"%"3Ainstrole"%"3Aims"%"2Flis"%"2FInstructor"%"2Curn"%"3Alti"%"3Ainstrole"%"3Aims"%"2Flis"%"2FStudent"%"2Curn"%"3Alti"%"3Arole"%"3Aims"%"2Flis"%"2FInstructor"%"2Curn"%"3Alti"%"3Asysrole"%"3Aims"%"2Flis"%"2FUser
  &launch_presentation_document_target=iframe
  &launch_presentation_height=400
  &launch_presentation_locale=en
  &launch_presentation_return_url=https"%"3A"%"2F"%"2Fesynctraining.instructure.com"%"2Fcourses"%"2F141"%"2Fexternal_content"%"2Fsuccess"%"2Fexternal_tool_redirect
  &launch_presentation_width=800
  &lis_person_contact_email_primary=mike"%"40esynctraining.com
  &lis_person_name_family=Kollen
  &lis_person_name_full=Mike+Kollen
  &lis_person_name_given=Mike
  &lti_message_type=basic-lti-launch-request
  &lti_version=LTI-1p0
  &oauth_callback=about"%"3Ablank
  &resource_link_id=4e38caa893ec9c35f38fa721ad47f1db7eb5ca64
  &resource_link_title=Adobe+Connect+Dev
  &roles=Instructor"%"2Curn"%"3Alti"%"3Ainstrole"%"3Aims"%"2Flis"%"2FAdministrator
  &tool_consumer_info_product_family_code=canvas
  &tool_consumer_info_version=cloud
  &tool_consumer_instance_contact_email=notifications"%"40instructure.com
  &tool_consumer_instance_guid=aebwtYfE7KMTTE1Mqga8hOZhHLLCq86OW1DURZcH"%"3Acanvas-lms
  &tool_consumer_instance_name=eSyncTraining
  &user_id=0340cde37624c04979a6c3fdd0afc2479f8405ad
  &user_image=https"%"3A"%"2F"%"2Fsecure.gravatar.com"%"2Favatar"%"2F119609781cc74cde3c9ea20e3862c0e7"%"3Fs"%"3D50"%"26d"%"3Dhttps"%"253A"%"252F"%"252Fcanvas.instructure.com"%"252Fimages"%"252Fmessages"%"252Favatar-50.png
  &oauth_signature=fmfXKTtCNxVOZSACu4BqtEGsgyc"%"3D" 
--compressed
-i