
<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <div valign="top" style="padding: 0 36px 0 0; text-align: left; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#464646; font-size: 14px; line-height: 18px;">
            <p style="margin: 0 0 18px 0;" >Hi @Model.FirstName,</p>
            <p style="margin: 0 0 18px 0;" >
               You are in your last week of the free trial with EduGame Cloud. I wanted to provide you with best practices for designing engaging content inside Adobe Connect with guidelines for interactions and slide counts in a virtual training session. Virtual training will require more slides to keep the pace moving. Interactions should occur every 3-5 minutes…so you designs will look very different from a classroom session that is done face-to-face. Here are the guidelines I use:  
            </p>
            <p style="margin: 0 0 18px 0;" >
                Recommended design tips for <b>slide count</b> and <b>interactions</b>:
            </p>
            <p style="margin: 0 0 18px 0;" >
                <table style="width:300px">
                
                    <tr>
                        <th>Training Duration</th>
                        <th>Recommended Slides</th>
                    </tr>
                    <tr>
                        <td>30-minutes</td>
                        <td>20-30 slides</td>
                    </tr>
                    <tr>
                        <td>60-minutes</td>
                        <td>30-50 slides</td>
                    </tr>
                    <tr>
                        <td>90-minutes</td>
                        <td>60-80 slides</td>
                    </tr>
                    <tr>
                        <td>120-minutes</td>
                        <td>90-110 slides</td>
                    </tr>
                </table> 
            </p>
            <p style="margin: 0 0 18px 0;" >
                <table style="width:300px">
                
                    <tr>
                        <th>Training Duration</th>
                        <th>Recommended Interactions </th>
                    </tr>
                    <tr>
                        <td>30-minutes</td>
                        <td>5-6 interactions</td>
                    </tr>
                    <tr>
                        <td>60-minutes</td>
                        <td>10-12 interactions</td>
                    </tr>
                    <tr>
                        <td>90-minutes</td>
                        <td>15-18 interactions</td>
                    </tr>
                    <tr>
                        <td>120-minutes</td>
                        <td>20-25 interactions</td>
                    </tr>
                </table> 
            </p>
            <p style="margin: 0 0 18px 0;" >
                With these guidelines as your standard, you can get much more out of your live events by running Crossword Puzzles as ice-breaker activities, assessments and games to get real-time analytics inside your event - and surveys at the end to evaluate the student feedback so you can constantly sharpen the saw and make your training better. 
            </p>
            <p style="margin: 0 0 18px 0;" >
                Good luck with your virtual learning!!! If you have any questions, please contact me at:<br/> <a href="mailto:jbeck@esynctraining.com">jbeck@esynctraining.com</a>
            </p>
            <p style="margin: 0 0 16px 0;" >Best,</p>
            <p style="margin: 0 0 16px 0;" >Jacquie~</p>
            <p style="margin: 0 0 16px 0;" >Jacqueline D. Beck, M.Ed.</p>
            <p style="margin: 0 0 16px 0;" >SVP, Training & Business Development</p>
            <p style="margin: 0 0 16px 0;" >eSyncTraining | ConnectExtensions</p>
            <p style="margin: 0 0 16px 0;" >(O) 267-337-7545 | (M) 610-233-6499 </p>
            <p style="margin: 0 0 16px 0;" >(E) <a href="mailto:jbeck@esynctraining.com">jbeck@esynctraining.com</a></p>
        </div>
    </body>
</html>
