
<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <div valign="top" style="padding: 0 36px 0 0; text-align: left; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#464646; font-size: 14px; line-height: 18px;">
            <p style="margin: 0 0 18px 0;" >Hi @Model.FirstName,</p>
            <p style="margin: 0 0 18px 0;" >
                Below are YouTube demos that are 5 minutes or less to help you with the workflow to create assets inside EduGame Cloud for all 5 modules. The Testing and Quiz Module work the same so you can follow the same demo for either module. 
            </p>
            <ul style="margin-left: 47px">
                <li> <p style="margin: 0 0 16px 0;" ><a href="https://www.youtube.com/watch?v=ID58RUvW6z0">Logging In to EduGame Cloud</a></p></li>
                <li> <p style="margin: 0 0 16px 0;" ><a href="https://www.youtube.com/watch?v=NHMwqjNiy1Y">Quiz/Assessment Intro</a></p></li>
                <li> <p style="margin: 0 0 16px 0;" ><a href="http://www.youtube.com/watch?v=ECfEy-W0wqY&feature=em-upload_owner">Survey Creation</a></p></li>
                <li> <p style="margin: 0 0 16px 0;" ><a href="http://www.youtube.com/watch?v=SUFXAoM-mPs&feature=em-upload_owner">Uploading Your Survey to Adobe Connect</a></p></li>
                <li> <p style="margin: 0 0 16px 0;" ><a href="https://www.youtube.com/watch?v=WFoF9N23ivw&list=UU5wS-4_xSp_urY5bCkDTIbQ">Crossword Puzzle Creation</a></p></li>
                <li> <p style="margin: 0 0 16px 0;" ><a href="https://www.youtube.com/watch?v=_DZ7Ozb0jXY">Crossword Puzzle Creation and Deploying in Adobe Connect</a></p></li>
                <li> <p style="margin: 0 0 16px 0;" ><a href="https://www.youtube.com/watch?v=UNjSP8GBizs">Collaboration Maps</a></p></li>
                <li> <p style="margin: 0 0 16px 0;" ><a href="http://www.youtube.com/watch?v=KI3mqPSQod8&feature=em-upload_owner">Loading EduGameCloud into Adobe Connect</a></p></li>
            </ul>
            
            <p style="margin: 0 0 16px 0;" >Best,</p>
            <p style="margin: 0 0 16px 0;" >Jacquie~</p>
            <p style="margin: 0 0 16px 0;" >Jacqueline D. Beck, M.Ed.</p>
            <p style="margin: 0 0 16px 0;" >SVP, Training & Business Development</p>
            <p style="margin: 0 0 16px 0;" >eSyncTraining | ConnectExtensions</p>
            <p style="margin: 0 0 16px 0;" >(O) 267-337-7545 | (M) 610-233-6499 </p>
            <p style="margin: 0 0 16px 0;" >(E) <a href="mailto:jbeck@esynctraining.com">jbeck@esynctraining.com</a></p>
        </div>
    </body>
</html>
