@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Redirect</title>
	<script type="text/javascript">
		document.location.href = '@Html.Raw(ViewBag.RedirectUrl)'
	</script>
</head>
<body>
</body>
</html>
