<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
  <add name="DefaultConnection" 
       connectionString="PLACE_LOGGING_DB_CONNECTION_STRING_HERE;" 
       providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <!-- Connection string names that start with &quot;log-database-&quot; will show up in the Log Database dropdown list. -->
  <add name="log-database-Lti.Stage" 
       connectionString="PLACE_LOGGING_DB_CONNECTION_STRING_HERE"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="log-database-Lti.Prod"
       connectionString="PLACE_LOGGING_DB_CONNECTION_STRING_HERE"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="log-database-Mp4.Prod"
       connectionString="PLACE_LOGGING_DB_CONNECTION_STRING_HERE"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
