<!DOCTYPE html>
<html>
<head>
    <title>eSyncTraining Zoom Lti</title>
</head>
<body>


<div id="app">
    Scheduled Office Hours session has been cancelled. Details:<br/><br/>
    Date: @Model.Date<br/>
    Meeting: @Model.MeetingName<br/>
    Message: @Model.Message
</div>
</body>
</html>