<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BbWsClient" version="1.0.0.9" targetFramework="net45" />
  <package id="Esynctraining.Core.Only" version="1.0.0.24" targetFramework="net45" />
  <package id="Microsoft.Web.Services3" version="3.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
</packages>