@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Meeting setup</title>
    <link rel="stylesheet" type="text/css" href="/extjs/ext-theme-crisp-all-debug_01.css">
    <link rel="stylesheet" type="text/css" href="/extjs/ext-theme-crisp-all-debug_02.css">
    <script type="application/javascript" src="https://dotnet.esynctraining.com:8016/build/ext-all.js"></script>
    

    
    <script type="application/javascript" src="/extjs/app.js"></script>
</head>
<body>
</body>
</html>