<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mailerSettings" type="Esynctraining.Core.Providers.Mailer.Configuration.MailerConfigurationSection, Esynctraining.Core" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="PermFilePattern" value="{fileId}.bin" />
    <add key="FileStorage" value="d:\Freelance\eSyncTraining\egc\trunk\csharp\EdugameCloud.WCFService\EdugameCloud.WCFService\FileStorage" />
	  <add key="ImportSubPath" value="import" />
    <add key="ExportSubPath" value="export" />
	  <add key="SchemasSubPath" value="schemas" />
    <add key="BasePath" value="http://localhost:2345/" />
    <add key="RTMPServerPort" value="2037" />
    <add key="PortalUrl" value="http://localhost:2345/admin" />
    <add key="EraseEnabled" value="false" />
    <add key="BuildSelector" value="Adm_EdugameCloud_*.swf" />
    <add key="TrialContactEmail" value="eugene@esynctraining.com" />
    <add key="BatchImportDefaultTimeZoneId" value="8" />
    <add key="BatchImportDefaultLanguageId" value="5" />
    <add key="MaxImageWidth" value="800"/>
    <add key="MaxImageHeight" value="600"/>
  </appSettings>
  <connectionStrings configSource="Web.constrings" />
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <httpRuntime executionTimeout="99999999999" maxRequestLength="10240" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" ></pages>
	<authentication mode="Forms">
	  <forms loginUrl="~/" timeout="1440" slidingExpiration="false" defaultUrl="~/" name="EdugameCloud_Auth" />
	</authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
	  <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" ></requestLimits>
      </requestFiltering>
	  </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="PerRequestLifestyle" />
      <remove name="HttpErrorModule" />
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor, Version=3.1.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" />
      <add name="HttpErrorModule" type="EdugameCloud.MVC.Modules.HttpErrorModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <mailerSettings templatesFolderPath="~/mail/templates/" attachmentsFolderPath="~/mail/attachments/" />
  <system.net>
    <mailSettings>
		<smtp from="baranovsky.e@gmail.com" deliveryMethod="Network">
			<network host="smtp.gmail.com" port="587" enableSsl="true" userName="baranovsky.e@gmail.com" password="koncmzkpfzpncxhq" />
		</smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
        <bindings />
        <client />
  </system.serviceModel>
</configuration>