@using DepositionConferencing.MVC.Links
@using Resources
<div role="contentinfo" class="wrap">
        <a href="/" class="logo" title="@Common.ApplicationName"><img src="@Content.images.footer_logo_png" alt="@Common.ApplicationName"></a>
        <p class="copyright">@Common.Copyright</p>
</div>