<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.76.0" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="Esynctraining.AC.Provider" version="1.0.1.54" targetFramework="net45" />
  <package id="Esynctraining.Core.Only" version="1.0.0.24" targetFramework="net45" />
  <package id="Esynctraining.NHibernate" version="1.0.0.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
</packages>