<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <table width="100%" border="0" style="margin:0px;font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#323232;">
          <tr>
            <td style="text-align:center">
    
            <table width="600" border="0" style="padding:20px;border:1px solid #323232;background-color:#FFF;margin:50px;">
              <tr>
                <td align="right"><img src="@(Model.BaseUrl)images/logoBig.png" alt=""/></td>
              </tr>
              <tr>
                <td align="left">Hi @Model.FirstName,</td>
              </tr>
              <tr>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                  <td align="left"><p>Welcome to <strong>EduGame Cloud</strong>.Your company administrator from @Model.CompanyName has added an account for you to use EduGame Cloud. You are about to discover the wide range of benefits available to immediately make your Adobe Connect meetings and training more engaging and fun.<br/><br/>
                  We are here to help you get the most out of your experience and the first step is to activate your account today. Click the link below or paste the URL to your browser: <br/>
                  <a href="@Model.ActivationLink" style="border-bottom: 1px dotted; color: #000071; text-decoration: none;">@Model.ActivationLink</a><br><br></p></td>
              </tr>
              <tr>
                <td align="center" bgcolor="#D4DFFF"><p><strong>Have any questions? We&#39;re here to help!</strong></p>
                  <p>If you get stuck, our trial consultants can help you and answer any other questions you may have. Just <a href="mailto:@Model.TrialContactEmail">click here </a>to request a call.</p></td>
              </tr>
              <tr>
                <td align="left">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">Thanks for using EduGame Cloud!<br/>The EduGame Cloud Team</td>
              </tr>
              <tr>
                <td align="center" style="font-size:11px;color:#666">Copyright &#169; 2013 eSyncTraining, Inc. All rights reserved.</td>
              </tr>
              <tr>
                <td align="center">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table>
    </body>
</html>