<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
   <body style="margin:0px">
<table width="100%" border="0" style="font-family:Arial, Helvetica, sans-serif;color:#323232;">
  <tr>
    <td style="text-align:center"><table width="600" border="0">
      <tr>
        <td align="right" style="font-size:11px"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td style="text-align:center">
    
    <table width="600" border="0" style="padding:20px;border:1px solid #323232;background-color:#FFF;margin:50px;">
      <tr>
        <td align="right"><img src="@(Model.BaseUrl)images/logoBig.png" alt=""/></td>
      </tr>
      <tr>
        <td align="left">Hi License Administrator,</td>
      </tr>
      <tr>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td align="left"><p>License upgrade was requested for company &#39;@Model.CompanyName&#39;.</p>
          <p><br />
              by it's primary contact: <a href="mailto: @Model.PrimaryEmail">@Model.PrimaryName</a></p></td>
      </tr>
      <tr>
        <td align="left"><p style="font-weight: bold">Current license details are:<br/></p></td>
      </tr>
      <tr>
          <td align="left">
              <p>Seats count:<strong> @Model.SeatsCount</strong></p>
              <p>Expiration date:<strong> @Model.ExpirationDate</strong></p>
              <p>Is trial:<strong> @(Model.IsTrial ? "Yes" : "No")</strong></p>
          </td>
      </tr>
      <tr>
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">Thanks for using EduGame Cloud!<br />The EduGame Cloud Team</td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" style="font-size:11px;color:#666">Copyright &#169; 2013 eSyncTraining, Inc. All rights reserved.</td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
