<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="D2L.Extensibility.AuthSdk" version="1.2.0" targetFramework="net45" />
  <package id="D2L.Extensibility.AuthSdk.Restsharp" version="1.1.1" targetFramework="net45" />
  <package id="Esynctraining.AC.Provider" version="1.0.2.11" targetFramework="net45" />
  <package id="Esynctraining.Core.Only" version="1.0.0.27" targetFramework="net45" />
  <package id="Esynctraining.NHibernate" version="1.0.0.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="RestSharp" version="104.5.0" targetFramework="net45" />
</packages>