<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%"
        arguments="%LAUNCHER_ARGS%"
        stdoutLogEnabled="false"
        stdoutLogFile=".\logs\stdout" />
  </system.webServer>

  <!--<appSettings>  
    <add key="PdfTemplateFolder" value="~\App_Data\Pdf\Template\" />
    <add key="PdfOutputFolder" value="~\App_Data\Pdf\Shared\" />
  </appSettings>-->
  <!--<system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True" />
    </defaultProxy>
  </system.net>-->
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <!--<system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          --><!--NOTE: duration - in seconds--><!--
          <add name="QuizPreview" location="Server" duration="1" varyByParam="*" />
          <add name="QuizDownload" location="Server" duration="1" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>-->

</configuration>