@model EdugameCloud.MVC.ViewModels.SocialViewModel
@using EdugameCloud.MVC.Links
@using Esynctraining.Core.Utils
@using Resources
@{
    Layout = EdugameCloudT4.Shared.Views._BaseLayout;
    ViewBag.Title = "You have been unsubscribed";
}

@section HeadContent {
    <meta name="google" value="notranslate" />
    <style type="text/css" media="screen">
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: auto;
            text-align: center;
            background-color: #ffffff;
        }
    </style>

}

<div style="height: 100%; width: 100%; margin: auto; margin-top: 100px;">
    You have been unsubscribed from <a href="http://edugamecloud.com">EduGame Cloud</a> email list.
</div>
