
<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <div valign="top" style="padding: 0 36px 0 0; text-align: left; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#464646; font-size: 14px; line-height: 18px;">
            <p style="margin: 0 0 18px 0;" >Hi @Model.FirstName,</p>
            <p style="margin: 0 0 18px 0;" >
                I run the training division for eSyncTraining and I will be your account manager for EduGame Cloud. Welcome to your trial account! We can work with you to set up a library of assets to make your online classes more engaging and collaborative for the students and professors. My experience with Adobe Connect spans over 10 years. I am a Master Trainer for Adobe and my background (20+ years) is in instructional design. I have logged over 7500 hours with Adobe Connect, teaching various online courses to train facilitators and producers with the system. I welcome the opportunity to ensure we provide you with everything you need during your free 30-day trial, to design and develop enhanced assessments, surveys and games to make the online experience the gold-standard for all the participants at @Model.CompanyName.
            </p>
            <p style="margin: 0 0 18px 0;" >
                I want to ensure your trial period is useful and you get to develop and implement a series of assets for your upcoming online events. Please let me know how I can help from a design, development or producer role to ensure success with EduGame Cloud. Welcome to our team! Our goal is to make your online learning events even better! 
            </p>
            <p style="margin: 0 0 16px 0;" >Best,</p>
            <p style="margin: 0 0 16px 0;" >Jacquie~</p>
            <p style="margin: 0 0 16px 0;" >Jacqueline D. Beck, M.Ed.</p>
            <p style="margin: 0 0 16px 0;" >SVP, Training & Business Development</p>
            <p style="margin: 0 0 16px 0;" >eSyncTraining | ConnectExtensions</p>
            <p style="margin: 0 0 16px 0;" >(O) 267-337-7545 | (M) 610-233-6499 </p>
            <p style="margin: 0 0 16px 0;" >(E) <a href="mailto:jbeck@esynctraining.com">jbeck@esynctraining.com</a></p>
        </div>
    </body>
</html>
