<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mailerSettings" type="Esynctraining.Core.Providers.Mailer.Configuration.MailerConfigurationSection, Esynctraining.Core" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <connectionStrings configSource="App.constrings" />
	<mailerSettings templatesFolderPath="mail\templates\" attachmentsFolderPath="mail\attachments\" />
	<system.net>
		<mailSettings>
			<smtp from="eugene@esynctraining.com" deliveryMethod="Network">
				<network host="smtp.gmail.com" port="587" enableSsl="true" userName="eugene@esynctraining.com" password="esyncGenter101085" />
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.10.0" newVersion="1.2.10.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
			</dependentAssembly>
      
		</assemblyBinding>
	</runtime>
</configuration>
