@model EdugameCloud.SocialStream.Host.ViewModels.SocialViewModel
@using Esynctraining.Core.Utils
@using Resources
@{
    Layout = EdugameCloudT4.Shared.Views._BaseLayout;
    ViewBag.Title = string.Format(Social.SuccessTitle, Inflector.Titleize(Model.Provider));
}

@section HeadContent {
    <meta name="google" value="notranslate" /> 
    <style type="text/css" media="screen"> 
        html, body  { height:100%; }
        body { margin:0; padding:0; overflow:auto; text-align:center; background-color: #ffffff; }   
    </style>
}

<div style="height: 100%; width: 100%; margin: auto; margin-top: 100px;">Hello, @(Model.UserName)! Authentication is successful!<br/>This window will close automatically.</div>
<script type="text/javascript" language="javascript">
	window.self.close();
</script>


  
           
       
    
               
