<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Database" connectionString="Server=64.27.12.56;Database=EduGameCloud.Dev;User ID=edugame;password=$Pr!DHEgsEGC;Connection Timeout=180;" />
    <add name="EdugameCloud.Lti.AdobeConnectCache.Properties.Settings.EduGameCloud_DevConnectionString" connectionString="Data Source=64.27.12.56;Initial Catalog=EduGameCloud.Dev;User ID=edugame;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>