@{
    ViewBag.Title = "Thank you for Registration";
}
<div class="row">
    <div class="col-lg-offset-3" >
        @*<img src="~/Content/img/GSILogo-Tag-Blue.jpg" />*@
        <img src="~/Content/img/GSU-2012-560x230-01.jpg" />
    </div>
</div>


<div class="row" style="text-align: center">
    <h3> Thank you for the registration!</h3>
    <h3>Please check your email for more information.</h3>
</div>

