<div class="row">
    <div class="col-lg-offset-1" style="margin-left: 140px">
        @*<img src="~/Content/img/GSILogo-Tag-Blue.jpg" />*@
        <img src="~/Content/img/GSU-2012-560x230-01.jpg" />
    </div>
</div>


<div class="row">
    <h2> Thank you for the registration.Please check your email for more information.</h2>
</div>

<div class="row">
    <footer class="row">
        <div class="col-sm-offset-2">
            <p>&nbsp; &nbsp; &copy; @DateTime.Now.Year - Goddard Systems</p>
        </div>
    </footer>
</div>