<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Castle.LoggingFacility" version="3.1.0" targetFramework="net40" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net40" />
  <package id="ClosedXML" version="0.68.1" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="Facebook" version="6.1.4" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="MicrosoftWebMvc" version="2.0" targetFramework="net40" />
  <package id="Mvc2Futures" version="2.0.50217.0" targetFramework="net40" />
  <package id="Mvc3Futures" version="3.0.20105.0" targetFramework="net40" />
  <package id="MvcContrib.Mvc3-ci" version="3.0.100.0" targetFramework="net40" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net40" />
  <package id="T4MVC" version="3.0.0" targetFramework="net40" />
  <package id="T4MVCExtensions" version="3.0.0" targetFramework="net40" />
  <package id="T4MVCExtensions" version="3.5.1" targetFramework="net40" />
  <package id="T4MVCExtensions" version="3.6.5" targetFramework="net40" />
</packages>