<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Course.WSSOAP11Binding" />
        <binding name="CourseMembership.WSSOAP11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Course.WSSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CourseMembership.WSSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://blackboard.advantageconnectpro.com:80/webapps/ws/services/Course.WS" binding="basicHttpBinding" bindingConfiguration="Course.WSSOAP11Binding" contract="BlackBoardCourseWebService.CourseWSPortType" name="Course.WSSOAP11port_http" />
      <endpoint address="http://blackboard.advantageconnectpro.com:80/webapps/ws/services/Course.WS" binding="customBinding" bindingConfiguration="Course.WSSOAP12Binding" contract="BlackBoardCourseWebService.CourseWSPortType" name="Course.WSSOAP12port_http" />
      <endpoint address="http://blackboard.advantageconnectpro.com:80/webapps/ws/services/CourseMembership.WS" binding="basicHttpBinding" bindingConfiguration="CourseMembership.WSSOAP11Binding" contract="BlackBoardCourseMembershipWebService.CourseMembershipWSPortType" name="CourseMembership.WSSOAP11port_http" />
      <endpoint address="http://blackboard.advantageconnectpro.com:80/webapps/ws/services/CourseMembership.WS" binding="customBinding" bindingConfiguration="CourseMembership.WSSOAP12Binding" contract="BlackBoardCourseMembershipWebService.CourseMembershipWSPortType" name="CourseMembership.WSSOAP12port_http" />
    </client>
  </system.serviceModel>
</configuration>