<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
 <config>
    <add key="DefaultPushSource" value="https://nuget.esynctraining.com/nuget" />
  </config>
  <packageSources>
    <add key="nuget.esynctraining.com" value="https://nuget.esynctraining.com/nuget" />
  </packageSources>
</configuration>