<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="nhibernate:disable_fulltext_integration" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="CanvasClientId" value="10000000000002" />
    <add key="CanvasClientSecret" value="s9YDrOugAq3eMBqblVbnbi9RlVvDDAeUTjP79NwGlxrAZcM9SGihUH8VlBZ8E3iy" />
    <add key="CookieDomain" value="dev.edugamecloud.com" />
    <add key="IsDebug" value="false" />
    <add key="EGCUrl" value="http://dev.edugamecloud.com" />
    <add key="BrainHoneyApiUrl" value="http://gls.agilix.com/dlap.ashx" />
    <add key="MoodleTokenUrl" value="/login/token.php" />
    <add key="MoodleServiceUrl" value="/webservice/rest/server.php" />
    <add key="MoodleChangeUrl" value="false" />
    <add key="UserCacheValidTimeout" value="00:05:00" /><!--5 min-->
    <add key="InitialBBPassword" value="e$ync123" />
  </appSettings>
  <connectionStrings configSource="Web.constrings" />
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <httpRuntime executionTimeout="99999999999" maxRequestLength="10240" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0"></pages>
	<authentication mode="Forms">
	  <forms loginUrl="~/" timeout="1440" slidingExpiration="false" defaultUrl="~/" name="EdugameCloud_Lti_Auth" />
	</authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
	  <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760"></requestLimits>
      </requestFiltering>
	  </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="PerRequestLifestyle" />
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor, Version=3.1.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc" />
    </modules>
    <staticContent>
        <remove fileExtension=".json" />
        <remove fileExtension=".appcache" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" Culture="neutral" PublicKeyToken="aa95f207798dfdb4" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.3.4000" newVersion="3.3.3.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Facilities.Logging" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Facilities.WcfIntegration" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
        <bindings />
        <client />
  </system.serviceModel>
</configuration>