@model HandleErrorInfo
@{
	ViewBag.Title = "Error";
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>@Common.PageTitlePrefix &nbsp;-&nbsp; @ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<hgroup class="title">
		<h1 class="error">Error.</h1>
		<h2 class="error">An error occurred while processing your request.</h2>
	</hgroup>
</body>
</html>