@{
    ViewBag.Title = "On-Premise Build Population SQL Script";
}
<h2>@ViewBag.Title.</h2>
@*<script type="text/javascript">
    $.ajax({
        //url: "http://64.27.12.37:8037/MailService.svc/jsonp/SendContent",
        url: "http://localhost:59393/MailService.svc/jsonp/SendContent",
        dataType: "json",
        contentType: "application/json",
        data: {
            meetingSco: "test",
            email: "sergeyi@esynctraining.com",
            files: []
        },
        type: "POST",
        success: function (json) {
            alert(JSON.stringify(json));
        },

        error: function (xhr, status, errorThrown) {
            alert("Sorry, there was a problem!");
            console.log("Error: " + errorThrown);
            console.log("Status: " + status);
            console.dir(xhr);
        },
        complete: function (xhr, status) {
            //alert( "The request is complete!" );
        }
    });
</script>*@
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#system" aria-controls="system" role="tab" data-toggle="tab">System</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Company Profile</a></li>
    </ul>

    <div class="tab-content" ng-app="jobs">
        <div role="tabpanel" class="tab-pane active" id="system">
            <div data-ng-controller="SearchCtrl">
                <div class="search">
                    <h2>SQL Population</h2>
                    <div class="box">
                        <select data-ng-model="search_term" ng-options="item.Id as item.Name for item in lmsProviders">
                            <option value="-1">Select Lms Option</option>
                        </select>
                        <input type="submit" value="Generate" data-ng-click="doSearch()" />
                        <img class="spinner" ng-src="../img/preloader.gif" style="display:none;width:16px;height:16px;">
                    </div>
                </div>
                <div class="search-summary">
                    <p><span class="field">You selected:</span> {{ search_term }}</p>
                </div>
                <div data-ng-repeat="item in commonSqlService.results" class="results">
                    <p>{{ item }}</p>
                </div>                    
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div data-ng-controller="CompanyCtrl">
                <div class="search">
                    <h2>SQL Company Population</h2>
                    <div class="box">
                        <select data-ng-model="search_term" ng-options="item.Id as (item.Name + ' - ' + item.ContactName + ' - ' + item.AddressLine) for item in companies">
                            <option value="-1">Select Company</option>
                        </select>
                        <input type="submit" value="Generate" data-ng-click="doSearch()" />
                        <img class="spinner" ng-src="../img/preloader.gif" style="display:none; width:16px;height:16px;">
                    </div>
                </div>
                <div class="search-summary">
                    <p><span class="field">You selected:</span> {{ search_term }}</p>
                </div>
                <div data-ng-repeat="item in companySqlService.results" class="results">
                    <p>{{ item }}</p>
                </div>
            </div>
        </div>
    </div>

</div>

<br />
<address>
    <strong>Support:</strong> <a href="mailto:sergeyi@esynctraining.com">sergeyi@esynctraining.com</a><br />
</address>

<head lang="en">
    <meta charset="utf-8">
    <title>Custom Plunker</title>
    
    
    @*<script type="text/javascript" src="main.js"></script>*@
</head>
