@model eSyncTraining.Web.Models.UserInfoModel

@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>

<fieldset>
    <legend>UserInfo</legend>
</fieldset>
<p>
    Full name: @Html.Label(Model.Username)
</p>
