<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bmbsqd.JilMediaTypeFormatter" version="0.1.1" targetFramework="net45" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="4.1.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="DotNetOpenAuth.AspNet" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net45" />
  <package id="Esynctraining.AC.Provider" version="1.0.4.4" targetFramework="net461" />
  <package id="Esynctraining.AdobeConnect" version="1.0.5" targetFramework="net461" />
  <package id="Esynctraining.AdobeConnect.Api" version="1.0.3.17" targetFramework="net461" />
  <package id="Esynctraining.CastleLog4Net" version="1.0.0.2" targetFramework="net45" />
  <package id="Esynctraining.Core.Only" version="1.0.1.4" targetFramework="net461" />
  <package id="Esynctraining.Json.Jil" version="1.0.0.3" targetFramework="net461" />
  <package id="Esynctraining.Mvc" version="1.0.0.1" targetFramework="net45" />
  <package id="Esynctraining.NHibernate" version="1.0.1" targetFramework="net461" />
  <package id="Esynctraining.WebApi" version="1.0.0.4" targetFramework="net461" />
  <package id="Esynctraining.Windsor" version="1.0.0.3" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.11" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.2" targetFramework="net461" />
  <package id="Jil" version="2.16.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.OAuth" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.WebForms" version="12.0.2402.15" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types.Unofficial" version="12.0.2000.8" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net45" />
  <package id="NodaTime" version="2.2.3" targetFramework="net461" />
  <package id="Sigil" version="4.7.0" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>