
/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@namespace adminView "com.edugamecloud.admin.views.*";
@namespace comps "com.edugamecloud.comps.*";
@namespace sharedViews "com.edugamecloud.shared.views.*";
@namespace crossword "com.edugamecloud.comps.crossword.*";
@namespace adminViews "com.edugamecloud.theme.grey.adminViews.*";
@namespace quizModule "com.edugamecloud.admin.views.quizModule.*";
@namespace hotspot "com.edugamecloud.admin.views.questiontypes.hotspot.*";
@namespace questiontypes "com.edugamecloud.admin.views.questiontypes.*";
@namespace socialProfileModule "com.edugamecloud.admin.views.socialProfileModule.*";
@namespace userModule "com.edugamecloud.admin.views.userModule.*";
@namespace surveyModule "com.edugamecloud.admin.views.surveyModule.*";
@namespace questionResponse "com.edugamecloud.theme.grey.adminViews.surveyModule.questionResponse.*";
@namespace containers "it.loziosecchi.components.containers.*";
@namespace testModule "com.edugamecloud.admin.views.testModule.*";


/*@font-face {
	src: url("/resources/fonts/ARIAL.TTF");
	fontFamily: WingArial;
	advancedAntiAliasing: true;
}
@font-face {
	src: url("/resources/fonts/ARIAL.TTF");
	fontFamily: WingArial;
	advancedAntiAliasing: true;
	embedAsCFF: false;
}
@font-face {
	src: url("/resources/fonts/ARIALBD.TTF");
	fontFamily: WingArial;
	advancedAntiAliasing: true;
	font-weight:bold;
	embedAsCFF: true;
}
@font-face {
	src: url("/resources/fonts/ARIALBD.TTF");
	fontFamily: WingArial;
	advancedAntiAliasing: true;
	font-weight:bold;
	embedAsCFF: false;
}*/

comps|NotificationPort
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.NotificationFromTopSkin");
}
comps|NotificationPort.quizNotification
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.QuizNotificationBottomSkin");
}
comps|NotificationPort.notificationFromBottom
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.NotificationFromBottomSkin");
}

adminView|AdminApplication
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.AdminApplicationSkin");
	color:#00233d;
	
	focus-color:#42a0c2;
	
	font-size:12;
}
adminView|UserProfilePage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.UserProfilePageSkin");
	color:#00233d;
	
	focus-color:#42a0c2;
	
	font-size:12px;
}

adminView|AdminPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.AdminPageSkin");
	color:#00233d;
	
	focus-color:#42a0c2;
	
	font-size:12px;
}

userModule|ManageCompaniesPage
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.adminViews.userModule.comp.ManageCompaniesViewSkin");
	color:#00233d;	
	focus-color:#42a0c2;	
	font-size:12px;
}

userModule|ManageLicensesPage
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.adminViews.userModule.comp.ManageLicensesViewSkin");
	color:#00233d;	
	focus-color:#42a0c2;	
	font-size:12px;
}
mx|FormItem,mx|DataGrid,mx|Alert
{
	font-family:Arial;
}
mx|AdvancedDataGrid	
{
	font-family:Arial;
	selectionColor:#96b3d8;
	header-sort-separator-skin:ClassReference("mx.skins.ProgrammaticSkin");
	header-style-name:adgGrouphead;
	rollOverColor:#96b3d8;
}
containers|TagCloudCanvas
{
	font-family:Arial;
}
.centerBold {
	fontWeight: bold;
	textAlign: center;
}
mx|DataGrid
{
	font-family:Arial;
	selectionColor:#96b3d8;
	header-style-name:adgGrouphead;
	rollOverColor:#96b3d8;
}
s|List	
{
	selectionColor:#96b3d8;
	rollOverColor:#96b3d8;
}
s|List s|VScrollBar
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.spark.RectVScrollBarSkin");	
}
s|List s|HScrollBar
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.spark.RectHScrollBarSkin");	
}
.adgGrouphead
{
	font-weight:bold;
	font-size:12px;
}
sharedViews|ApplicationControlBar
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.sharedViews.ApplicationControlBarSkin");
}
sharedViews|ApplicationHeader
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.sharedViews.ApplicationHeaderSkin");
}
sharedViews|LoginBox
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.sharedViews.LoginBoxSkin");
}
adminView|MainApplication
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.MainApplicationSkin");
}
s|Button#logoutButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.sharedViews.LogoutButtonSkin");
}
s|HSlider
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.HSliderSkin");
}
s|TextInput
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.TextInputSkin");
}
s|TextInput.uploadStyle
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.TextInputUploadSkin");
}
s|CheckBox
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.CheckBoxSkin");
}
s|CheckBox.quizCheckBoxSkin
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.QuizCheckBoxSkin");
}
s|RadioButton.quizRadioButtonSkin
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.QuizRadioButtonSkin");
}

s|Button
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.ButtonSkin");
}
s|Button.quizSubmit
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.SubmitButtonSkin");
}


s|Button.linkButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.LinkButtonSkin");
}

s|ComboBox
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.ComboBoxSkin");
}

s|DropDownList.iconnic
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.IconincDropDownListSkin");
}
s|DropDownList.iconnicStock
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.IconincStockDropDownListSkin");
}
s|DropDownList.iconnicStockWithoutHScroll
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.IconincStockDropDownListSkin");
	horizontalScrollPolicy:off;
}
s|DropDownList
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.DropDownListSkin");
}
s|NumericStepper
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.NumericStepperSkin");
}
comps|IconButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.IconButtonSkin");
	
}
comps|IconButton.withBorder
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.IconButtonWithBorderSkin");
}
comps|IconButton.withRectBorder
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.IconButtonWithRectBorderSkin");
}

comps|IconButton.withoutBorder
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.IconButtonWithoutBorderSkin");
}
comps|IconButton.withoutBorderLabel
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.IconButtonLabelSkin");
}
adminView|StartUpScreen{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.StartUpScreenSkin");
}
s|ButtonBar
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.ButtonBarSkin");
}
s|ButtonBar.tabStyleButtonBar
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.TabStyleButtonBarSkin");
}
s|ButtonBar.iconicButtonBar
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.IconicButtonBarSkin");
}
s|ButtonBar.mainNavigation
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.MainNavigationIconicButtonBarSkin");
}
s|ButtonBar.iconButtonBar
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.IconButtonBarSkin");
}

s|ToggleButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.ToggleButtonSkin");
}
comps|IconToggleButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.IconToggleButtonSkin");
}
s|ToggleButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.ToggleButtonSkin");
	
}
comps|SearchBox
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.SearchBoxSkin");
}
adminView|CrosswordPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.CrosswordPageSkin");
}
socialProfileModule|SocialPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.SocialPageSkin");
}

quizModule|QuizPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.QuizPageSkin");
}
quizModule|QuizWizardNew
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.quizModule.QuizWizardNewSkin");	
}
surveyModule|SurveyWizard
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.surveyModule.SurveyWizardSkin");
}



adminView|QuizEditPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.QuizEditPageSkin");
}


adminView|CrosswordEditPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.CrosswordEditPageSkin");
}
socialProfileModule|SocialProfileEditPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.SocialProfileEditPageSkin");
}
socialProfileModule|SocialProfileWizard
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.socialProfileModule.SocialProfileWizardSkin");	
}
surveyModule|SurveyPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.surveyModule.SurveyPageSkin");
}
adminView|CrosswordGridEditor
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.CrosswordGridEditorSkin");
}
mx|VScrollBar
{
	up-arrow-skin:ClassReference(null);
	down-arrow-skin:ClassReference(null);
	thumb-skin:ClassReference("com.edugamecloud.theme.grey.spark.VScrollThumbSkin");
	track-skin:ClassReference("com.edugamecloud.theme.grey.spark.VScrollTrackSkin");
}
mx|DataGrid mx|VScrollBar,
mx|AdvancedDataGrid mx|VScrollBar,
{
	up-arrow-skin:ClassReference(null);
	down-arrow-skin:ClassReference(null);
	thumb-skin:ClassReference("com.edugamecloud.theme.grey.spark.GridVScrollThumbSkin");
	track-skin:ClassReference("com.edugamecloud.theme.grey.spark.GridVScrollTrackSkin");
}
s|VScrollBar
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.spark.VScrollBarSkin");	
}
.rounded s|VScrollBar
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.spark.VScrollBarSkin");	
}

s|Scroller.rectBox s|VScrollBar
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.spark.RectVScrollBarSkin");	
}
s|Scroller.rectBox s|HScrollBar
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.spark.HScrollBarSkin");
}
mx|HScrollBar
{
	up-arrow-skin:ClassReference(null);
	down-arrow-skin:ClassReference(null);
	thumb-skin:ClassReference("com.edugamecloud.theme.grey.spark.VScrollThumbSkin");
	track-skin:ClassReference("com.edugamecloud.theme.grey.spark.VScrollTrackSkin");
}
s|HScrollBar
{
	skin-class:ClassReference("com.edugamecloud.theme.grey.spark.HScrollBarSkin");
}
adminView|CategoryDropDownList
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.CategoryDropDownListSkin");
}
adminView|CategoryDropDownInlineManagerList
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.CategoryDropDownInlineManagerListSkin");
}
adminView|CategoryManagerDropDownList
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.CategoryManagerDropDownListSkin");
}
s|TitleWindow
{
	skin-class:ClassReference('com.edugamecloud.theme.grey.spark.TitleWindowSkin');
}
s|Panel
{
	skin-class:ClassReference('com.edugamecloud.theme.grey.spark.PanelSkin');
}
s|Panel.quizPreviewWindow
{
	skin-class:ClassReference('com.edugamecloud.theme.grey.spark.QuizPreviewPanelSkin');
}
mx|ViewStack#crosswordClueLayout s|Panel
{
	skin-class:ClassReference('com.edugamecloud.theme.grey.spark.CrosswordEditPagePanelSkin');
}
adminView|CrosswordWizard
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.CrosswordWizardSkin");
}
testModule|TestPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.TestPageSkin");
}
adminView|TestEditPage
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.TestEditPageSkin");
}
testModule|TestWizard
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.TestWizardSkin");
}
quizModule|QuizWizard
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.QuizWizardSkin");
	
}
mx|Alert 
{
	buttonStyleName:alertButtonStyle;	
	titleStyleName:alertTitleStyle;
	messageStyleName:alertMessageStyle;
	font-family:Arial;
	font-weight:bold;
	headerHeight:30px;
	dropShadowEnabled: true;
	shadowDistance: 5px;
	paddingTop:30px;
	paddingBottom:10px;
	paddingLeft:10px;
	paddingRight:10px;
	shadowDirection: right;
	cornerRadius: 0;
	borderSkin:ClassReference('com.edugamecloud.theme.grey.spark.AlertSkin');
}
#navigation
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.WizardNavigationButtonBarSkin");
}
crossword|WordSearch
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.crossword.WordSearchSkin")
}
crossword|Crossword
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.crossword.CrosswordSkin")
}

s|List#wizardMainNavigation
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.WizardMainNavigationListSkin")
}
comps|CollpsablePanel
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.comps.CollpsablePanelSkin")
}
adminView|ClueDropDownList.wizardHintDropDown
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.WizardHintDropDownSkin");
}
adminView|ReportingPage{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.ReportingPageSkin")
}
mx|PieChart
{
	textFieldClass: ClassReference("mx.core.UITextField");
	fontSize:13px;
}
mx|ProgressBar
{
	maskSkin:ClassReference("com.edugamecloud.theme.grey.adminViews.itemRenderer.ProgressBarMaskSkin");
	trackSkin:ClassReference("com.edugamecloud.theme.grey.adminViews.itemRenderer.ProgressBarTrackSkinSkin");
	barSkin:ClassReference("com.edugamecloud.theme.grey.adminViews.itemRenderer.ProgressBarBarSkin");
}
hotspot|CorrectHotspot
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.quizModule.CorrectHotspotSkin")
}
hotspot|IncorrectHotspot
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.quizModule.IncorrectHotspotSkin")
}
hotspot|VisualElementHandle
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.quizModule.VisualElementHandleSkin")
}
hotspot|HotspotRadioButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.quizModule.HotspotRadioButtonSkin")
	
}
questiontypes|ToolBarDropDownList
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.quizModule.ToolBarDropDownListSkin")
	
}
questiontypes|BlankItemRenderer s|TextInput
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.quizModule.BlankItemTextInputSkin");
}

adminView|CrosswordPreview
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.CrosswordPreviewSkin")
	
}
s|Button.nextButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.NextButtonSkin")
}
s|Button.backButton
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.BackButtonSkin")
}
questionResponse|QuestionBase
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.adminViews.surveyModule.questionResponse.QuestionBaseSkin");
}
s|DropDownList#quickNavigation
{
	skinClass:ClassReference("com.edugamecloud.theme.grey.spark.QuickNavigationDropDownListSkin");	
}
mx|ToolTip
{
	fontWeight:bold;
	fontSize:11;
	paddingBottom:14;
	paddingTop:10;
	paddingLeft:12;
	paddingRight:14;
	borderSkin:Embed(source="/resources/images/toolTip.png",scaleGridTop="8", scaleGridBottom="22", scaleGridLeft="16", scaleGridRight="18");
}

.errorTip {
    fontWeight:bold;
    fontSize:11;
    paddingBottom:14;
    paddingTop:10;
    paddingLeft:12;
    paddingRight:14;
    borderSkin:Embed(source="/resources/images/toolTip.png",scaleGridTop="8", scaleGridBottom="22", scaleGridLeft="16", scaleGridRight="18");
    color: #444444;
}
