<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Database" connectionString="Server=64.27.12.56;Database=EduGameCloud.Dev;User ID=edugame;password=$Pr!DHEgsEGC;Connection Timeout=180;" />
  </connectionStrings>
  <appSettings>
    <add key="CanvasClientId" value="170000000000180" />
    <add key="CanvasClientSecret" value="BegNrN5U3ChgPALe5l0hLMJnRUY6jBnMkTIzhA9LiwC0goWu8tqI5pwMoX3hF2on" />
    <add key="D2LApiVersion" value="1.4" />
    <add key="D2LApiKey" value="dTrjhraYSvSn5LvsODpBng" />
    <add key="D2LApiSecret" value="AAQWJpEWPjCCuZcFFv5Prw" />
    <add key="IsDebug" value="false" />
    <add key="BrainHoneyApiUrl" value="http://gls.agilix.com/dlap.ashx" />
    <add key="MoodleTokenUrl" value="/login/token.php" />
    <add key="MoodleServiceUrl" value="/webservice/rest/server.php" />
    <add key="MoodleChangeUrl" value="false" />
    <add key="UserCacheValidTimeout" value="00:05:00" />
    <!--5 min-->
    <add key="InitialBBPassword" value="e$ync123" />
  </appSettings>
</configuration>