<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Esynctraining.AC.Provider" version="1.0.1.31" targetFramework="net45" />
  <package id="Esynctraining.CastleLog4Net" version="1.0.0.1" targetFramework="net45" />
  <package id="Esynctraining.Core.Only" version="1.0.0.21" targetFramework="net45" />
  <package id="Esynctraining.NHibernate" version="1.0.0.1" targetFramework="net45" />
  <package id="Esynctraining.Windsor" version="1.0.0.1" targetFramework="net45" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
</packages>